#top{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 200px;
    
}
#back_div{
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 80%;
    margin-left: 20px;
    margin-top: 40px;
}
#back_div i{
    font-size: 30px;
}
#back_div i:hover{
    font-size: 35px;
    transition: ease-in-out 0.5s;
}









#name_title{
    font-size: 20px;
}
#name{
    font-size: 40px;
}
#name,#name_title{
    animation: fadein 2s;
}

#mid{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#list_box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 90%;
   
}
#list_column1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    height: 120px;
   
    animation: fadein 4s;
}

#c1e3_title,#c1e2_title,#c1e1_title{
    text-align: center;
}
#c1e1,#c1e2,#c1e3{
    border-radius: 10%;
    margin: 20px;
    width: 100px;
    height: 120px;
   
}
#c1e3_title_div,#c1e2_title_div,#c1e1_title_div{
    margin-top: -10px;
    margin-bottom: -15px;
}
#c1e3_img_div,#c1e2_img_div,#c1e1_img_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
#c1e1 img,#c1e2 img,#c1e3 img{
    border-radius: 20%;
    width: 90%;
    height: 75%;
    margin-left: 5px;
    box-shadow: 5px 5px rgb(160, 160, 160);
}
#c1e1:hover,#c1e2:hover,#c1e3:hover{
    width: 110px;
    height: 132px;
    transition: ease-in-out 0.5s;
}
#c1e1:focus,#c1e2:focus,#c1e3:focus{
    width: 110px;
    height: 132px;
    transition: ease-in-out 0.5s;
}




#list_column2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    height: 120px;

}
#c2e1,#c2e2,#c2e3{
    margin: 20px;
    width: 100px;
    height: 100px;

}



#list_column3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    width: 100%;
    height: 120px;

}
#c3e1,#c3e2,#c3e3{
    margin: 20px;
    width: 100px;
    height: 100px;
  
}











#bottom{
    width: 100%;
    height: 300px;
   
}








@keyframes fadein {
    from{
        opacity: 0;
        
    }
    to{
        opacity: 1;
    }
}

