







body{
    height: 1300px;
}

#main_title{
    text-align: center;
    color: rgb(255, 184, 91);
    font-size: 60px;
    text-shadow: 5px 5px rgb(171, 171, 171);
    animation: fadein 2s;
}
#main_title:hover{
    font-size: 65px;
    color: rgb(255, 159, 33);
    text-shadow: 5px 5px rgb(203, 203, 203);
    transition: ease-in-out 0.5s;
}
#clk_message{
    font-weight: bold;
    font-size: 20px;
    animation: fadein 4s;
}

#circle{
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    order: 1;
    animation: fadein 4s;
}

#img{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    order: 2;
    box-shadow: 7px 7px rgb(145, 145, 145);
    animation: fadein 4s;
}
#circle:hover{
    width: 350px;
    height: 350px;
    
    transition: ease-in-out 0.5s;
}
#circle:focus{
    width: 350px;
    height: 350px;
    
    transition: ease-in-out 0.5s;
}
#img:hover{
    box-shadow: 12px 12px rgb(181, 181, 181);
    transition: ease-in-out 0.5s;
}
#img:focus{
    box-shadow: 12px 12px rgb(181, 181, 181);
    transition: ease-in-out 0.5s;
}
#top{
    height: 100px;
}
#mid{
    margin-bottom: 40px;
    height: 500px;
    width: 100%;
    display: flex;
    
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 100%;
}

#time_text_div{
    border: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
}
#time_text{
    font-size: 20px;
    font-weight: 400;
    animation: fadein 6s;
}

#clock{
    font-size: 70px;
    color:rgb(255, 184, 91);
    text-shadow: 5px 5px rgb(171, 171, 171);
    animation: fadein 6s;
}
#clock_div_div{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}




@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}